.user-dashboard {
  background-color: var(--cor-fundo);
  color: #fff;
  height: 100%;
  width: 40%;
}

.dashboard-table {
  background-color: var(--cor-cards);
  border-radius: 6px;
  padding: 30px;
}

.table {
  background-color: var(--cor-texto);
  border-radius: 8px;
  padding: 30px;
  color: var(--cor-fundo);
}

.table-graphic {
  background-color: var(--cor-texto);
  border-radius: 8px;
  padding: 30px;
  color: var(--cor-fundo);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .user-dashboard {
    width: 100%;
  }

  .data {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .progress {
    accent-color: var(--cor-cards);
    padding: 20px;
    width: 160px;
    color: red;
    cursor: pointer;
  }

  .data-progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .graphic {
    border: 8px solid black;
    height: 100%;
    width: 210px;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .bloco {
    height: 100px;
    width: 100px;
  }

  .agua {
    background-color: blue;
  }

  .agua-progress {
    accent-color: blue;
  }

  .sono {
    background-color: purple;
  }

  .sono-progress {
    accent-color: purple;
  }

  .calorias {
    background-color: red;
  }

  .calorias-progress {
    accent-color: red;
  }

  .estudo {
    background-color: green;
  }

  .estudo-progress {
    accent-color: green;
  }
}
