.logo-header {
  width: 25%;
}

.icon-interface {
  background-color: var(--cor-cards);
  text-align: center;
  text-decoration: none;
  padding-top: 7px;
  border-radius: 100px;
  color: var(--cor-principal);
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: all .5s ease;
}

.icon-home {
  height: 65px;
  width: 65px;
  font-size: 2rem;
  padding-top: 10px;
}

.icon-interface:hover {
  transform: scale(.97);
}

.notification {
  display: flex;
  align-items: center;
  justify-content: safe;
  gap: 14px;
}

.notification-icon,
.fire-icon {
  background-color: var(--cor-cards);
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 100px;
  color: var(--cor-principal);
  font-size: 1.7rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all .5s ease;
}

.user-dashboard {
  background-color: var(--cor-fundo);
  color: #fff;
  height: 100%;
  width: 100%;
}

.dashboard-table {
  background-color: var(--cor-principal);
  border-radius: 10px;
  padding: 30px;
}

.icon-header {
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
}

.table {
  background-color: var(--cor-texto);
  border-radius: 8px;
  padding: 30px;
  color: var(--cor-fundo);
}

.table-graphic {
  background-color: var(--cor-texto);
  border-radius: 8px;
  padding: 30px;
  color: var(--cor-fundo);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-interface {
  color: var(--cor-principal) !important;
  font-size: 1.5rem !important;
  border-radius: 50% !important;
  display: flex !important;
  padding-top: 10px !important; 
}

.offcanvas-settings {
  background-color: var(--cor-principal) !important;
  color: #fff !important;
  width: 60% !important;
}

.offcanvas-header-settings {
  display: flex !important;
  gap: 10px;
  align-items: center !important;
  justify-content: center !important; 
}
.offcanvas-header-settings>i {
  font-size: 1.4rem;
}
.offcanvas-header-settings h2 {
  margin-bottom: 5px !important;
}