.form-area {
    background-color: var(--cor-fundo);
    color: #fff;
    height: 100vh;
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-form {
    color: var(--cor-texto);
    font-size: 2rem;
    text-align: start;
}

form {
    width: 100%;
}

.input-form {
    background-color: rgb(209, 202, 202);
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 1rem;
}

.input-form:focus {
    outline: 2px solid;
}

.buttons-form {
    display: flex;
    gap: 30px;
}

.button-form, .button-form-back {
    text-decoration: none;
    background-color: var(--cor-cards);
    border-radius: 8px;
    border: none;
    color: var(--cor-destaque-secundario);
    font-weight: bolder;
    font-size: 1rem;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    transition: all .5s ease;
}

.button-form:hover, .button-form-back:hover {
    border-radius: 16px;
    transform: scale(0.96);
}

.button-form-back {
    text-align: center;
}

@media screen and (max-width:767px) {
    .button-form, .button-form-back {
        font-size: 0.90rem;
    }
    .form-area {
        width: 100vw;
    }
}