.habits {
    background-color: var(--cor-cards);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.habit-register {
    background-color: var(--cor-fundo);
    border-radius: 13px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-register {
    background-color: var(--cor-cards);
    color: var(--cor-texto);
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .5s ease;
}

.button-register:hover {
    transform: scale(0.96);
}

.habits-list {
    background-color: var(--cor-fundo);
    border-radius: 15px;
    padding: 30px;
}

.table-habits {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    border-collapse: collapse;
}

.table-habits > thead > tr > th, .table-habits > tbody > tr > td {
    padding: 10px;
    border-radius: 6px;
    border: 5px solid var(--cor-cards);
}

.table-habits > thead > tr > th {
    background-color: var(--cor-fundo);
    border-color: var(--cor-cards);
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.buttons-table > .buttons > button {
    border: none;
    background-color: var(--cor-cards);
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    margin: 0px;
    padding: 10px;
}