.home {
  padding: 30px;
}

.welcome-box {
  background-color: var(--cor-cards);
  padding: 30px;
  border-radius: 6px;
}

header {
  background-color: var(--cor-fundo);
  position: sticky;
  top: -2px;
  padding: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}