.initial-page {
    background-color: var(--cor-fundo);
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
  color: var(--cor-texto);
  font-size: 3.8rem;
  font-weight: bolder;
}

.destaque {
    color: var(--cor-contraste-texto);
}

.buttons {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.buttons > button {
    background-color: var(--cor-cards);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    /* overflow: hidden; */
    cursor: pointer;
    transition: all .5s ease;
}

.buttons > button:hover {
    border-radius: 10px;
    transform: scale(0.94);
}

.buttons > button > a {
    height: 100%;
    width: 100%;
    color: var(--cor-destaque-secundario);
    text-decoration: none;
    position: relative;
    padding: 20px;
}

@media screen and (max-width:767px) {
    .initial-page {
        width: 100vw;
        padding: 0px;
    }
}