.sidebar {
  display: none;
}

.button-sidebar {
  display: none;
}

@media screen and (max-width: 767px) {
  .sidebar {
    height: 100dvh;
    width: 180px;
    position: fixed;
    right: 0%;
    top: 0;
    background-color: var(--cor-cards);
    display: flex;
    gap: 10px;
    justify-content: start;
    flex-direction: column;
    padding-top: 100px;
    transition: all 0.5s ease;
  }

  .user-area-sidebar {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .sidebar-link {
    color: var(--cor-texto);
    gap: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: all 0.1s ease;
  }

  .sidebar-link::after {
    content: "";
    background-color: var(--cor-fundo);
    border-radius: 6px;
    height: 5px;
    width: 0;
    position: absolute;
    left: 0px;
    bottom: -3px;
    transition: width 0.5s ease;
  }

  .sidebar-link:hover {
    color: var(--cor-fundo);
  }

  .sidebar-link:hover::after {
    width: 100%;
  }

  .icon {
    display: inline-block;
    font-weight: bolder;
    font-size: 1.7rem;
  }

  .sidebar > ul {
    width: 100%;
    padding: 30px;
    gap: 30px;
    font-weight: bolder;
    font-size: 1.2rem;
    display: flex;
    align-items: end;
    flex-direction: column;
  }

  .button-sidebar {
    display: block;
  }

  #check-sidebar {
    display: none;
  }

  .button-sidebar > label {
    position: relative;
    display: block;
    height: 30px;
    width: 28px;
    cursor: pointer;
  }

  .button-sidebar > label > span {
    background-color: #fff;
    border-radius: 6px;
    height: 4px;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease;
  }

  .button-sidebar > label > span:nth-child(1) {
    top: 0px;
  }

  .button-sidebar > label > span:nth-child(2) {
    top: 9px;
  }

  .button-sidebar > label > span:nth-child(3) {
    top: 18px;
  }

  #check-sidebar:checked ~ label > span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }

  #check-sidebar:checked ~ label > span:nth-child(2) {
    opacity: 0;
  }

  #check-sidebar:checked ~ label > span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
  }

  .logout::after {
    background-color: rgb(213, 63, 63);
  }

  .logout:hover {
    color: rgb(213, 63, 63);
  }

  .image-profile {
    width: 170px;
    margin: 10px;
    clip-path: circle();
  }
}
