ul {
  padding-left: 0px !important;
}

.menu-training {
  background-color: var(--cor-cards) !important;
  border-color: var(--cor-cards) !important;
}

ul > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.accordion-button {
  background-color: var(--cor-cards) !important;
  border-color: var(--cor-cards); 
  outline-color: var(--cor-cards);
  color: #fff !important;
  font-weight: bolder !important;
  accent-color: #fff !important;
}

.accordion-body {
  background-color: var(--cor-fundo);
  color: #fff;
  font-weight: bold;
}

.accordion-button::after {
  color: #fff;
}

.button-daily-training {
  background-color: var(--cor-cards);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: var(--cor-principal);
  font-weight: bold;
  transition: all .5s ease;
}

.button-daily-training:hover {
  transform: scale(1.04)
}

.body-table {
  background-color: var(--cor-fundo);
  height: 100%;
  width: 100%;
  position: absolute;
}

.buttons-daily {
  display: flex;
  gap: 20px;
}

.button-schedule {
  background-color: var(--cor-cards) !important;
  border-color: var(--cor-cards) !important;
}

.button-schedule:hover {
  transform: scale(0.97) !important;
  border: none !important;
}

.carousel-item > .dashboard-table {
  width: 70%;
  margin: 50px;
  margin-top: 20px;
  padding: 20px;
}

.me-2 {
  background-color: var(--cor-cards) !important;
  border-color: var(--cor-cards) !important;
}

.offcanvas {
  background-color: var(--cor-principal) !important;
  color: #fff !important;
  height: 50% !important;
  width: 100% !important;
  transition: all .5s ease !important;
}

.offcanvas-header {
  background-color: var(--cor-cards);
}

.list-item {
  background-color: var(--cor-principal) !important;
  border-color: var(--cor-fundo) !important;
  display: flex !important;
  align-items: center !important;
  gap: 20px;
  color: #fff !important;
}