ul {
  padding-left: 0px !important;
}

.menu-training {
  background-color: var(--cor-cards) !important;
  border-color: var(--cor-cards) !important;
}

ul > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.accordion-button {
  background-color: var(--cor-cards) !important;
  border-color: var(--cor-cards); 
  outline-color: var(--cor-cards);
  color: var(--cor-principal) !important;
  font-weight: bolder !important;
  accent-color: #fff !important;
}

.accordion-header {
  background-color: var(--cor-cards) !important;
}

.accordion-body {
  background-color: var(--cor-fundo);
  color: #fff;
  font-weight: bold;
}

.accordion-button::after {
  color: #fff;
}

.button-daily-training {
  background-color: var(--cor-cards);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: var(--cor-principal);
  font-weight: bold;
  transition: all .5s ease;
}

.button-daily-training:hover {
  transform: scale(1.04)
}