.window {
  border-radius: 12px;
  overflow: hidden;
  width: 80%;
  margin: 10px;
}

.window>header {
  padding: 20px;
  color: #fff;
}

.window>main {
  padding: 30px;
  font-size: 1.22rem;
  font-weight: bolder;
}


.window>footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.buttons-window {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}