@import url('./styles/intial-page.css');
@import url('./styles/form-style.css');
@import url('./styles/profile-style.css');
@import url('./styles/settings-style.css');
@import url('./styles/hydration-habits-style.css');
@import url('./styles/dashboard-style.css');
@import url('./styles/sidebar-style.css');
@import url('./styles/home-style.css');
@import url('./styles/eating-habits-style.css');
@import url('./styles/training-habits-style.css');
@import url('./styles/reports-style.css');
@import url('./styles/window-style.css');
@import url('./styles/animations/intro-logo.css');
@import url('./styles/animations/intro-button.css');

:root {
  --cor-fundo: #3F3C3A;
  --cor-texto: #f1f5f9;
  --color-sucess: #34d399;
  --cor-cards: #D64218;
  --cor-principal: #221d17;
  --cor-contraste-texto: #1e293b;
  --cor-destaque-secundario: #6366f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('../public/images/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}

#root {
  background-color: rgba(0, 0, 0, 0.799);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-habitto {
  width: 100%;
  border-radius: 50%;
  animation: intro-logo 3s ease;
  position: relative;
  transition: all .5s ease;
}

.modal-window {
  background-color: #231d17 !important;
  color: #f9f1f1;
}

.button-modal-window {
  background-color: var(--cor-cards) !important;
  border: none !important;
  padding: 10px 30px !important;
}

.modal-header {
  background-color: var(--cor-cards) !important;
  border-bottom: 0px !important;
}

.modal-error {
  background-color: #ff4545 !important;
  color: #4b1919 !important;
}